* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d6d6dc;
  background-color: #121216;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #d6d6dc;
}

#container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #container-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #121216;
    color: #fff;
    z-index: 9999;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #container-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #121216;
    color: #fff;
    z-index: 9999;
    top: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #container-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #121216;
    color: #fff;
    z-index: 9999;
    top: 0;
  }
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar ul {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar ul {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar ul {
    display: none;
  }
}

.navbar ul li a {
  text-decoration: none;
  color: #d6d6dc;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: aqua;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.navbar ul li a::hover {
  color: cadetblue;
  transition: all 0.7s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a:hover {
  color: gray;
  transition: all 0.7s ease;
}

.button-menu-mobile {
  background-color: #121212;
  color: #d6d6dc;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1201px) {
  .button-menu-mobile {
    display: none;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .button-menu-mobile {
    display: none;
  }
}

#container-home {
  margin-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 1201px) {
  #container-home {
    gap: 100px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #container-home {
    margin-top: 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #container-home {
    margin-top: 0px;
    padding-top: 150px;
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #container-home {
    flex-direction: column;
    padding-top: 120px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #container-home {
    flex-direction: column;
    padding-top: 120px;
  }
}

.container-info-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-info-home {
    align-items: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-info-home {
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-info-home {
    align-items: center;
  }
}

.container-info-home p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #a9a9a9;
}

.container-info-home h2 {
  font-size: 3.5rem;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #CA42CF 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-info-home h2 {
    font-size: 2rem;
  }
}

.container-info-home h3 {
  font-size: 2.2rem;
  color: #5252e0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-info-home h3 {
    font-size: 1.5rem;
  }
}

.button-home {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 1.2rem;
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  -o-border-image: linear-gradient(225deg, rgb(0, 217, 255) 0%, rgb(192, 1, 250) 100%) 1/1/0 stretch;
     border-image: linear-gradient(225deg, rgb(0, 217, 255) 0%, rgb(192, 1, 250) 100%) 1/1/0 stretch;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
  width: 350px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .button-home {
    width: 300px;
    padding: 1rem;
  }
}

a {
  text-decoration: none;
}

a .button-home {
  color: #d6d6dc;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-home::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, rgba(0, 217, 255, 0.882) 0%, rgba(213, 2, 250, 0.808) 100%);
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7) 0s;
  transform-origin: 0px 0px;
  transform: scale(0);
}

.button-home:hover::before {
  transform: scale(1);
  color: black;
  transition: all 0.5s ease;
}

@keyframes img-move {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(-30px, -50px, 0px);
  }
}
.img-home {
  width: 32rem;
  animation: 3s ease 3s infinite alternate none running img-move;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .img-home {
    width: 22rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-home {
    width: 20rem;
    animation: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .img-home {
    animation: none;
    width: 15rem;
  }
}

#section-about {
  margin-top: 180px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #section-about {
    margin-top: 70px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #section-about {
    margin-top: 70px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #section-about {
    margin-top: 80px;
  }
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title-about {
  font-size: 4.2rem;
}

.container-about-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
  min-width: 480px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-about-information {
    min-width: 480px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-about-information {
    min-width: 420px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-about-information {
    min-width: 300px;
  }
}

.container-text-information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-text-information {
    width: 450px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-text-information {
    width: 300px;
  }
}

.container-text-information p {
  letter-spacing: 2px;
  text-align: justify;
}

#section-skills {
  margin-top: 150px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #section-skills {
    margin-top: 90px;
  }
}

.container-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 60vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-skills {
    height: 100%;
  }
}

.container-skills h2 {
  font-size: 4.2rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-skills h2 {
    font-size: 3.8rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-skills h2 {
    font-size: 2.5rem;
  }
}

.container-skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 20px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-skills-grid {
    grid-template-columns: repeat(2, 180px);
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-skills-grid {
    grid-template-columns: repeat(1, 180px);
  }
}

.container-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0c0b0e;
  height: 170px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.container-tech img {
  width: 65px;
  border-radius: 6px;
}

.container-tech p {
  font-weight: 600;
}

.container-tech:hover {
  background-color: gray;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #0c0b0e;
}

#section-project {
  margin-top: 180px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #section-project {
    margin-top: 120px;
  }
}

.container-project {
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-project {
    height: 100%;
  }
}

.container-project h2 {
  font-size: 4.2rem;
}
@media screen and (min-width: 1201px) {
  .container-project h2 {
    font-size: 3.7rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container-project h2 {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-project h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-project h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-project h2 {
    font-size: 2rem;
    text-align: center;
  }
}

.container-all-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container-all-project {
    align-items: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-all-project {
    align-items: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-all-project {
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-all-project {
    align-items: center;
  }
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .project {
    width: 85%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .project {
    width: 85%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .project {
    width: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .project {
    flex-direction: column;
    width: 85%;
  }
}

.project a {
  text-decoration: none;
}

.project p {
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.4s ease;
  color: #bdbdbd;
  padding: 10px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .project p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .project p {
    font-size: 1.2rem;
  }
}

.project a P:hover {
  color: white;
  transition: all 0.3s ease;
}

.section-footer {
  margin-top: 50px;
}

.container-all-information-footer {
  border-top: 4px solid #1e1e25;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-all-information-footer {
    justify-content: space-between;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-all-information-footer {
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
}

.container-only-name {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-only-name {
    gap: 12px;
  }
}

.container-only-name a {
  text-decoration: none;
  color: #d6d6dc;
}

.container-only-name p {
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.5s ease;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-only-name p {
    font-size: 1rem;
  }
}

.name-footer:hover {
  color: aqua;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container-all-information-footer a svg {
  color: #d6d6dc;
  transition: all 0.5s ease;
}

.container-all-information-footer svg:hover {
  color: aqua;
  transition: all 0.5s ease;
  cursor: pointer;
}

.navBar-container-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navBar-container-mobile ul {
  position: fixed;
  z-index: 1000;
  background-color: #121216;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 3rem;
  margin-top: 6.1rem;
  list-style-type: none;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navBar-container-mobile ul {
    margin-top: 4.7rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navBar-container-mobile ul {
    margin-top: 4.7rem;
  }
}

.navBar-container-mobile ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #d6d6dc;
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */