.navBar-container-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navBar-container-mobile ul {
    position: fixed;
    z-index: 1000;
    background-color: #121216;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
    margin-top: 6.1rem;
    list-style-type: none;


    @media screen and (min-width: 481px) and (max-width: 768px) {
        margin-top: 4.7rem;
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
        margin-top: 4.7rem;
    }

    

}

.navBar-container-mobile ul li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #d6d6dc;
    cursor: pointer;
    text-decoration: none;
}

